c.JupyterHub.admin_users = {{ jupyterhub_user }}
c.JupyterHub.confirm_no_ssl = True
c.ConfigurableHTTPProxy.command = ['configurable-http-proxy']
c.Authenticator.allow_all = True
c.Spawner.default_url = '/lab'
